body {
   margin: 0;
   padding: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #120630;
}

.formChuchu {
    width: 60%;
}

.containImage {
    width: 400px;
    height: auto;

}

form {
    width: 100%; 
    max-width: 600px; 
    padding: 20px;
    background-color: #211e4d; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: #f0f0f0;
}

.signUp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}